.container {
  height: 100%;
}
.image {
  width: 100%;
  height: 100%;
  position: relative;
  word-wrap: break-word;
  background-color: #fff;
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}
.image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
